*.suo
*.user
HtmlParser/bin/**
HtmlParser/obj/**
RoadTrip/RoadTrip/bin/**
RoadTrip/RoadTrip/bld/**
RoadTrip/RoadTrip/obj/**
FluidLayout/FluidLayout/bin/**
FluidLayout/FluidLayout/bld/**
FluidLayout/FluidLayout/obj/**
FluidLayout/FluidLayout/bin/**
IdolBuddy/IdolBuddy/bin/**
IdolBuddy/IdolBuddy/bld/**
IdolBuddy/IdolBuddy/obj/**
MetroHacker/Metrohacker/bin/**
MetroHacker/Metrohacker/bld/**
MonkeyBars/MonkeyBars/bin/**
MonkeyBars/MonkeyBars/bld/**
MonkeyBars/MonkeyLibs/bin/**
MonkeyBars/MonkeyLibs/obj/**
MonkeyBars/MonkeyWrap/bin/**
MonkeyBars/MonkeyWrap/obj/**
Wikipedia/Wikipedia/bin/**
Wikipedia/Wikipedia/bld/**
CategoryBrowser/CategoryBrowser/bin/**
CategoryBrowser/CategoryBrowser/bld/**
TechEd/step2/Editor/bin/**
TechEd/step2/Editor/bld/**
TechEd/step3/Editor/bin/**
TechEd/step3/Editor/bld/**