*.suo
*.user
HtmlParser/bin/**
HtmlParser/obj/**
RoadTrip/RoadTrip/bin/**
RoadTrip/RoadTrip/bld/**
RoadTrip/RoadTrip/obj/**
FluidLayout/FluidLayout/bin/**
FluidLayout/FluidLayout/bld/**
FluidLayout/FluidLayout/obj/**
FluidLayout/FluidLayout/bin/**
IdolBuddy/IdolBuddy/bin/**
IdolBuddy/IdolBuddy/bld/**
IdolBuddy/IdolBuddy/obj/**
MetroHacker/Metrohacker/bin/**
MetroHacker/Metrohacker/bld/**
MonkeyBars/MonkeyBars/bin/**
MonkeyBars/MonkeyBars/bld/**