.splash {
    position: absolute;
    left: calc((100% - 100px) / 2);
    top: calc((100% - 50px) / 2);
}

div#article {
    overflow: auto;
    -ms-user-select: text;
    cursor: text;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
    div#article {
        height: calc(100% - 80px - 80px);
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 120px;
        column-count: 3;
        column-gap: 50px;
    }
}

@media screen and (-ms-view-state: filled) {
    div#article {
        height: calc(100% - 80px - 80px);
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 120px;
        column-count: 2;
        column-gap: 50px;
    }
}

@media screen and (-ms-view-state: snapped) {
    div#article {
        height: calc(100% - 20px - 20px);
        width: calc(100% - 20px);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    div#article {
        height: calc(100% - 80px - 80px);
        width: calc(100% - 80px - 80px);
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 80px;
        padding-right: 80px;
    }
}