.splash {
    position: absolute;
    left: calc((100% - 100px) / 2);
    top: calc((100% - 50px) / 2);
}

div#article {
    overflow: auto;
    -ms-user-select: text;
    cursor: text;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
    div#article {
        height: calc(100vh - 80px - 128px); /* clip 128px for header */
        padding-bottom: 80px;
        padding-left: 120px;
        column-count: 3;
        column-gap: 50px;
    }
}

@media screen and (-ms-view-state: filled) {
    div#article {
        height: calc(100vh - 80px - 128px);
        padding-bottom: 80px;
        padding-left: 120px;
        column-count: 2;
        column-gap: 50px;
    }
}

@media screen and (-ms-view-state: snapped) {
    div#article {
        height: calc(100vh - 20px);
        width: calc(100% - 20px);
        padding-bottom: 20px;
        padding-left: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    div#article {
        height: calc(100vh - 80px - 128px);
        width: calc(100vw - 80px - 80px);
        padding-bottom: 80px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

/* Override some default wikipedia styling */
.gallery {
    list-style-type: none;
}

p {
    font-size: 10.5pt;
    line-height: 1.5em;
}

/* Column styling - column break before each section */
span.mw-headline {
    break-before: column; 
    margin-top: 2em 
}

/* Make some sections hidden for the time being - the infobox and the reflist */
.infobox,
.vertical-navbox,
.toc,
.reflist,
.catlinks,
.articlefeedback,
.printfooter 
{ 
    visibility: hidden; display: none; 
}

/* Make some UI elements invisible */
.magnify,
.portal,
.editsection,
#siteSub,
.navbox,
.dablink,
#jump-to-nav,
.metadata,
#coordinates,
h1.firstHeading
{
    visibility: hidden;
    display: none;
}

/* Make the end-notes invisible - but add this back as an element that can be toggled on/off */
.reference {
    visibility: hidden;
    display: none;
}

/* General styling for the app */    
h1.hn { 
    font-size: 16pt; 
    font-weight: 100; 
}

h2.hn {
    font-size: 13pt; 
    font-weight: 100; 
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: #00ff21; 
}

a:visited { 
    color: silver; 
}