.zoomElement {
    width: 100vw;
    height: calc(100vh - 128px); /* we are subtracting the height of the header */

    overflow: auto;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 50%;
    -ms-content-zoom-limit-max: 500%;
}