body {
    color: white;
}

div#article {
    width: 35%;
}

h1.hn { 
    font-family: "Segoe UI"; 
    font-size: 16pt; 
    font-weight: 100; 
}

h2.hn {
    font-family: "Segoe UI"; 
    font-size: 13pt; 
    font-weight: 100; 
}

/* container for all comments */
div.comments {
    margin-top: 20px;
    overflow: scroll;
    height: 680px;
}

div.comment { 
    margin-left: 10px; 
    margin-top: 10px; 
}

span.heading { 
    font-family: "Segoe UI";
    font-size: 13pt; 
    font-weight: 100; 
}

span.comment {
    font-family: 'Segoe UI'; 
    font-size: 11pt;
}

.emph { 
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 13pt; 
}

.dropcap { 
    float: left; 
    margin-top: 2px; 
    margin-right: 4px; 
    font-size: 2em; 
    line-height: 90%; 
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
