body {
    color: white;
}

div#ui {
    width: 100%;
    height: 100%;
}

div#article {
    height: 80%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    overflow: scroll;
    column-count: 3;
    column-gap: 50px;
}

/* Override some default wikipedia styling */
.gallery {
    list-style-type: none;
}

p {
    font-size: 10.5pt;
    line-height: 1.5em;
}

/* Column styling - column break before each section */
span.mw-headline {
    break-before: column; 
    margin-top: 2em 
}

/* Make some sections hidden for the time being - the infobox and the reflist */
.infobox,
.toc,
.reflist,
.catlinks,
.articlefeedback,
.printfooter {
    visibility: hidden;
    display: none;
}

/* Make some UI elements invisible */
.magnify,
.portal,
.editsection,
#siteSub,
.navbox,
.dablink,
#jump-to-nav,
.metadata,
#coordinates
{
    visibility: hidden;
    display: none;
}

/* Make the end-notes invisible - but add this back as an element that can be toggled on/off */
.reference {
    visibility: hidden;
    display: none;
}

/* General styling for the app */    
h1.hn { 
    font-family: "Segoe UI"; 
    font-size: 16pt; 
    font-weight: 100; 
}

h2.hn {
    font-family: "Segoe UI"; 
    font-size: 13pt; 
    font-weight: 100; 
}

/* container for all comments */
div.comments {
    margin-top: 20px;
    overflow: scroll;
    height: 680px;
}

div.comment { 
    margin-left: 10px; 
    margin-top: 10px; 
}

span.heading { 
    font-family: "Segoe UI";
    font-size: 13pt; 
    font-weight: 100; 
}

span.comment {
    font-family: 'Segoe UI'; 
    font-size: 11pt;
}

.emph { 
    font-family: 'Segoe UI';
    color: #00ff21;
    font-weight: bold;
    font-size: 13pt; 
}

.dropcap { 
    float: left; 
    margin-top: 2px; 
    margin-right: 4px; 
    font-size: 2em; 
    line-height: 90%; 
}

a:link {
    color: #00ff21; 
    text-decoration: none;
}

a:visited { 
    color: silver; 
    text-decoration: none; 
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
