body {
}

#preview {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100vh;
    left: 50vw;
}

.CodeMirror {
    background-color: #000;
    width: 50%;
}

.CodeMirror-scroll {
    height: 100vh;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
