.CodeMirror {
    width: 50%;
    float: left;
}

.Docs {
    width: 45%;
    float: right;
    margin: 10px;
}

body {
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
