.Container {
    background-color: #000;
    height: 100%;
    display: -ms-flexbox;
}

.CodeMirror {
    margin-top: 10px;
    background-color: #000;
    width: 50%;
    height: 100%;
}

.CodeMirror-fullscreen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: 0;
    padding: 0;
    background-color: #ffd800;
    border: 0px solid #BBBBBB;
    opacity: 1;
}

.Docs {
    width: 49%;
    height: 90%;
    background-color: #000;
    color: #fff;
    margin: 10px;
    overflow: scroll;
}

/* Make the docs more readable! */

.title {
    font-size: 2em;
}

.sidebar_heading {
    display: none;
}

.sidebar_toc {
    display: none;
}

.CCE_Message {
    display: none;
}

body {
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
